<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

	<!--配置springmvc创建容器时要扫描的包-->
    <context:component-scan base-package="com.lzh.web"></context:component-scan>

	<!--配置视图解析器-->
	<bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/"></property>
		<property name="suffix" value=".jsp"></property>
	</bean>


	<!--配置自定义类型转换器，它使用注册服务的方式-->
	<bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
		<!--注入自定义的转换器-->
		<property name="converters">
			<set>
				<bean id="stringToDateConverter" class="com.lzh.web.convertes.StringToDateConverter">
					<!--注入规则-->
					<property name="pattern" value="yyyy-MM-dd"></property>
				</bean>
			</set>
		</property>
	</bean>

	<!--开启springmvc对注解的支持-->
	<mvc:annotation-driven conversion-service="conversionService" />

	<mvc:default-servlet-handler/>

	<!--开启注解aop支持-->
	<!--proxy-target-class选择代理的方式：
	1.true ：选择目标类作为代理对象
	2.false： 让spring自行选择，如果目标类实现了接口，则选择proxy。否则，选择cglib-->
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	<!--dubbo消费者配置-->
	<!--配置dubbo消费者假如注册中心的名称-->
	<dubbo:application name="dubbo_consumer"></dubbo:application>
	<!--配置注册中心的地址-->
	<dubbo:registry address="zookeeper://localhost" port="2181"></dubbo:registry>
	<!--配置扫描包-->
	<dubbo:annotation package="com.lzh.web"></dubbo:annotation>
	<!--配置合理化检查
		需要现有提供者，然后才能消费
		当没有提供者
			开启合理化检查，消费者报错。   一般在正式运行时开启
			不不开启，消费者可以正常启动    一般在开发环境
	-->
	<dubbo:consumer check="false"></dubbo:consumer>

	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="10485760"></property>
	</bean>
</beans>